<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xml:lang="en"
xmlns:og="http://ogp.me/ns#"
xmlns:fb="https://www.facebook.com/2008/fbml"
lang="en">
<head>
	
	<!-- WINDOW TITLE -->
	<title>Instapedia</title>
	
	<% include ../views/partials/headPartial %>
	
</head>
<body>
	
	<!-- NAV -->
	<div class="container-fluid" style="padding:0px;margin:0px;">
		<div class="ip-header-container" style="padding:0px;margin:0px;">
			<div id="carousel" class="carousel container slide" style="padding:0px;margin:0px;">
				<div class="carousel-inner">
					<div class="active item one" style="background-image: url('imgs/test1.jpg');"></div>
					<div class="item two" style="background-image: url('imgs/test2.jpg');"></div>
					<div class="item three" style="background-image: url('imgs/test3.jpg');"></div>
				</div>
			</div>
			<div class="ip-header">	
				<div style="padding-left:100px;padding-right:100px;">
					<div class="row ip-title">
						Find your next adventure
					</div>
					<div class="row ip-tagline">
						Explore the world through the eyes of fellow explorers: travel to collect moments, not things.
					</div>
				</div>
			</div>	
		</div>
	</div>
	
	<div class="container-fluid" style="background-color:#EEE">
		<div class="container" style="padding:20px;">
			<div>
				<% for(var i in tags) { %>
					<a class="tag-item" id="tag-item-<%- tags[i] %>" style="" href="#tag=<%- tags[i] %>"><%- tags[i] %></a>
					<% } %>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" style="background-color:#EEE">
		<div class="container" style="padding:20px;">
			<div id="searchResults" style="width:100%;text-align:center;">

			</div>
		</div>
	</div>
	
	<div class="container-fluid" style="background-color:#EEE">
		<div class="container" style="padding:20px;">
			<div id="footer" style="height:100px;text-align:center;">
				Instapedia
			</div>
		</div>
	</div>

</body>
<script>
$(document).ready(function() {
	$('.carousel').carousel({interval: 9000});
});

var selectedTags = {};
$(".tag-item").click(function(){ 	
	var tag_name = $(this).text().replace(/ /g,'');
	if(selectedTags[tag_name] == null) {
		selectedTags[tag_name] = {};
		document.getElementById("tag-item-"+tag_name).style.backgroundColor = "blue";
		$.get( "/search?tag=" + tag_name, function( result ) {
			if (result == null) {
				return;
			}
			for (i = 0; i < result.length; i++) {
				div = "<a class='ip-location-item ip-location-item-" + tag_name + "' href=\"/getflightinfo?lat=" + result[i].location.latitude + "&long=" + result[i].location.longitude + "\"> <img src=\"" + result[i].images.standard_resolution.url + "\" height=\"200\" width=\"200\"></a>";
				$( "#searchResults" ).prepend( div );
			}
		});
	} else {
		$('.ip-location-item-' + tag_name).remove();
		selectedTags[tag_name] = null;
		document.getElementById("tag-item-"+tag_name).style.backgroundColor = "#DDD";		
	}

	return false;    
});


			</script>
			</html>