<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xml:lang="en"
xmlns:og="http://ogp.me/ns#"
xmlns:fb="https://www.facebook.com/2008/fbml"
lang="en">
<head>
	
	<!-- WINDOW TITLE -->
	<title>Test</title>
	
	<% include ../views/partials/headPartial %>
	
</head>
<body>
	
	<div class="TEST_RESPONSE_DIV" style="height:200px;">
		<%- data %>
	</div>
	
	<!-- NAV -->
	<div class="container-fluid" style="padding:0px;margin:0px;">
		<div class="ip-header-container" style="padding:0px;margin:0px;">
			<div id="carousel" class="carousel container slide" style="padding:0px;margin:0px;">
				<div class="carousel-inner">
				        <div class="active item one" style="background-image: url('imgs/test1.jpg');"></div>
				        <div class="item two" style="background-image: url('imgs/test2.jpg');"></div>
				        <div class="item three" style="background-image: url('imgs/test3.jpg');"></div>
				</div>
			</div>
			<div class="ip-header">	
			<div style="padding-left:100px;padding-right:100px;">
				<div class="row ip-title">
					Find your next adventure
				</div>
				<div class="row ip-tagline">
					Explore the world through the eyes of fellow explorers: travel to collect moments, not things.
				</div>
			</div>
			</div>	
		</div>
	</div>
	
	<div class="ip-navbar">
		<div class="dropdown">
			<a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Filter </a>
		  <div class="dropdown-menu ip-filter-drop-down">
			  <div class="container">
				  <div class="row">
					  <div class="">
				  </div>
				  <div class="row">
				  </div>
			  </div>
		  </div>
		</div>
	</div>
	
	<div id = "tags_bar" style="width:100%;height:100px;">
		<%- tags_html %>
		<div id = "tag_header" style="width:50%;">
		</div>
	</div>

	<div id = "searchResults" style="width:100%;height:400px;">

	</div>

	
	<!-- COVER -->
	
	<!-- OPTIONS -->
</body>
<script>
	$(document).ready(function() {
	  $('.carousel').carousel({interval: 9000});
	});

   $(".tags_link").click(function(){ 
   	var tag_name = $(this).text()
   	console.log(tag_name)    

		$.get( "/search?tag=" + tag_name, function( data ) {
			console.log(data);
		 $( "#tag_header" ).html("#" + tag_name);
		 $( "#searchResults" ).html( data );
		});
  	return false;    
	});

				// var output = ""
				// if(data.length != 0) {
				// 	// Parses the JSON response and spits it out in human readable text
				// 	//<img class="" src="//iscale.iheart.com/catalog/live/3401?ops=fit(60%2C60)" srcset="//iscale.iheart.com/catalog/live/3401?ops=fit(120%2C120) 2x" alt="Radio 1045" itemprop="" style="opacity: 1;" data-reactid=".0.1.1.1.0:$Stations.1.$3401.0.$logo">
				// 	var stations = data
				// 	output = "<div id='section_title'>Search Results: " + term + "</div><ul class='rig columns-3'>"
				// 	for(var i=0;i<stations.length;i++){
				// 		output += "<li class='center'><a href = '/connect?station_id=" + stations[i].id + "&station_name=" + stations[i].name + "'><img id='' src='http://radioedit.iheart.com/service/img/nop()/assets/images/" + stations[i].id + ".png' onerror='imgError(this);'><p id='station_name'>" + stations[i].name + "</p><p id=''>" + stations[i].description + "</p></a></li>"
				// 	}
				// }
				// else {
				// 	output = "I'm sorry, there are no results for what you searched. Try again?"
				// }


				// output += "</ul>"
				// $("#results").html(output);
</script>
</html>